{% extends "social_edu_federation/base.html" %}

{% block content %}
  {{ block.super }}
  <div id="content-main" class="inner-container">
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if user %}
      <p>You are well authenticated <strong>{{ user.first_name }}</strong>!</p>
      <ul>
        <li><strong>Username:</strong> {{ user.username }}</li>
        <li><strong>Email:</strong> {{ user.email }}</li>
        <li><strong>Last name:</strong> {{ user.last_name }}</li>
        <li><strong>First name:</strong> {{ user.first_name }}</li>
      </ul>
      <form action="{% url "logout" %}" method="get">
        {% csrf_token %}
        <div class="submit-row">
          <button class="btn-primary" type="submit">Log out</button>
        </div>
      <form>
    {% else %}
      <p>You are not logged in.</p>
      <form action="{% url "saml_fer_idp_list" %}" method="get">
        <div class="submit-row">
          <button class="btn-primary" type="submit">Log in with FER</button>
        </div>
      </form>
    {% endif %}
  </div>
{% endblock %}
